<footer class="footer">
	<p class="footer-intro">
		<%
			var date = new Date();
			var year = date.getFullYear();
		%>
		@<%=  year %> <%= config.title %>.
	</p>
	<p class="footer-intro">
			Powered By AOREG
			theme by <a href="<%- config.root %>">aoreg.com</a>
	</p>
</footer>



